.toTheTopButton {
  position: fixed;
  z-index: var(--z-index-3);
  bottom: 25px;
  right: -50px;

  transition: all ease-in 0.3s;
}
.toTheTopButton a {
  padding: 10px 15px;
}

.toTheTopButton._active {
  right: 20px;
}

@media (max-width: 48em) {
  .toTheTopButton a {
    padding: 5px 10px;
  }
  .toTheTopButton._active {
    bottom: 10px;
    right: 10px;
  }
}
@media (max-width: 26.563em) {
  .toTheTopButton {
    display: none;
  }
}
