.contact {
  position: relative;
  &Content {
    padding-bottom: 100px;
  }
  &Title {
    margin-bottom: 50px;
  }
  &Dark {
    background-color: $ui-less-dark-color;

    .contactTitle {
      color: $ui-white-color;
    }
  }
  &Light {
    p {
      color: $ui-dark-color;
    }
  }
  &Text {
    a {
      color: $ui-purple-color;
      font-size: 20px;

      cursor: pointer;
    }
  }
}
