.skills {
  position: relative;

  transition: all 0.4s ease-in-out;
  &Content {
    padding-bottom: 200px;
  }
  &Title {
    margin-bottom: 40px;
  }
  &Items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    svg {
      width: 80px;
      height: 80px;
    }
  }

  &Dark {
    background-color: $ui-less-dark-color;

    .skillsTitle {
      color: $ui-white-color;
    }

    .skillsItem {
      &Transparent {
        fill: $ui-dark-color;
      }
      &Dark {
        fill: $ui-gray-color;
      }
    }
  }
  &Light {
    .skillsItem {
      &Transparent {
        fill: $ui-white-color;
      }
      &Dark {
        fill: $ui-dark-color;
      }
    }
  }
  @media #{$ui-laptops} {
    &Content {
      padding-bottom: 150px;
    }
  }
  @media #{$ui-tablets} {
    &Content {
      padding-bottom: 100px;
    }
    &Items {
      justify-content: center;

      gap: 20px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  @media #{$ui-mobile} {
    &Content {
      padding-bottom: 50px;
    }
  }
}
