.hero {
  padding: 128px 0 64px;
  min-height: 100vh;

  display: flex;
  align-items: center;

  background: var(--section-bg);
}

.heroContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  align-items: center;
}

.heroImage {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;

  justify-self: center;

  border-radius: 20%;

  object-fit: cover;
  object-position: 50% 50%;
}

.heroText h1 {
  margin-bottom: 0.5rem;
}

.heroText h3 {
  margin-bottom: 1.2rem;
}

.heroText p {
  margin-bottom: 32px;
}

.heroButtons {
  display: flex;
  gap: 15px;
}
@media (max-width: 50.875em) {
  .heroImage {
    max-height: 300px;
    max-width: 300px;
  }
}
@media (max-width: 48em) {
  .hero {
    padding: 64px 0 32px;
  }
  .heroImage {
    max-height: 300px;
    max-width: 300px;
  }

  .heroContent {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  .heroButtons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
