.startInfo {
  height: 100vh;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.4s ease-in-out;
  &Content {
    width: 100%;
  }

  &Text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Greeting {
      margin-bottom: 10px;
    }
    &Name {
      margin-bottom: 15px;
    }
    .animatedText {
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;

      color: $ui-gray-color;
    }
    &Desc {
      margin-top: 15px;
      margin-bottom: 10px;

      font-size: 20px;
      font-weight: 400;
    }
  }

  &Dark {
    background-color: $ui-less-dark-color;

    .startInfoText {
      color: $ui-white-color;
    }
  }

  &Light {
    background-color: $ui-bg-white-color;

    .startInfoText,
    .startInfoTextDesc,
    .animatedText {
      color: $ui-dark-color;
    }
  }

  @media #{$ui-tablets} {
    // height: 80vh;
    padding-bottom: 50px;
    &Content {
      flex-direction: column;
    }

    &Text {
      order: 2;

      .animatedText {
        font-size: 30px;
        font-weight: 36px;
      }
    }

    &Image {
      order: 1;
    }
  }

  @media #{$ui-mobile} {
    padding-bottom: 40px;
  }
}
