.startInfo {
  padding-top: 120px;
  padding-bottom: 120px;

  transition: all 0.4s ease-in-out;
  &Content {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &Text {
    flex: 0 0 65%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Greeting {
      margin-bottom: 10px;
    }
    &Name {
      margin-bottom: 15px;
    }
    .animatedText {
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
    }
    &Desc {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }

  &Image {
    flex: 0 1 35%;

    img {
      width: 100%;
      height: 100%;
      max-width: 350px;
      max-height: 450px;

      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 6px;
    }
  }

  &Dark {
    background-color: $ui-less-dark-color;

    .startInfoText {
      color: #ffffff;
    }
  }

  &Ligth {
    background-color: $ui-bg-white-color;

    .startInfoText {
      color: $ui-dark-color;
    }
  }

  @media #{$ui-laptops} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media #{$ui-tablets} {
    padding-top: 40px;
    padding-bottom: 40px;

    &Content {
      flex-direction: column;
    }

    &Text {
      order: 2;

      .animatedText {
        font-size: 30px;
        font-weight: 36px;
      }
    }

    &Image {
      order: 1;
    }
  }

  @media #{$ui-mobile} {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
