.footer {
  background: var(--header-bg);
  border-top: 1px solid var(--border-color);
}

.footerContent {
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks {
  display: flex;
  gap: 2rem;
}

.footerLinks a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: var(--font-weigth-semibold);

  transition: color 0.3s ease;
}

.footerLinks a:hover {
  color: var(--primary-color);
}

.footerBottom {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  text-align: center;
  color: var(--text-secondary);

  border-top: var(--border);
}

@media (max-width: 48em) {
  .footerContent {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .footerinks {
    gap: 1rem;
  }
}
