.languageSwitcher {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;

  transition: all 0.3s ease;

  cursor: pointer;

  @media #{$ui-mouse-device} {
    &:hover {
      color: rgba($ui-white-color, 1);

      filter: drop-shadow(0px 0px 5px $ui-white-color);
    }
  }

  &Dark {
    color: rgba($ui-white-color, 0.5);
  }

  &Light {
    color: $ui-gray-color;

    &:hover {
      color: rgba($ui-dark-color, 1);

      filter: none;
    }
  }
}
