@import "./nullstyles.css";
@import "./variables.css";

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  &._noscroll {
    overflow: hidden;
  }
}
section {
  scroll-margin-top: 80px;
}

html {
  scroll-behavior: smooth;
}

.main {
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 2.5px auto;

  background-color: var(--text-color);
  border-radius: 6px;

  transition: all 0.3s ease;
}
.circle {
  display: inline-block;
  border-radius: 50%;

  min-width: 15px;
  min-height: 15px;

  background-color: var(--primary-color);
}
.tech-tag {
  height: fit-content;
  padding: 0.3rem 0.8rem;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  box-shadow: 0 5px 15px var(--hover-color);

  font-size: var(--font-size-xs);
  font-weight: var(--font-weigth-semibold);
  color: white;

  transition: all ease-out 0.5s;
}

h1 {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weigth-bold);
  color: var(--text-color);
}
h2 {
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--text-color);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-xl);
  color: var(--primary-color);
  font-weight: var(--font-weigth-regular);
}

p {
  font-size: var(--font-size-md);
  line-height: 1.6;
  color: var(--text-secondary);
}

.section-title {
  font-weight: bold;
  margin-bottom: 3rem;
}

@media (max-width: 48em) {
  html {
    font-size: 14px;
  }

  .container {
    padding: 0 10px;
  }

  .section-title {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 26.5625em) {
  html {
    font-size: 12px;
  }

  .circle {
    min-width: 10px;
    min-height: 10px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .tech-tag:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
}
