.themeSwitcher {
  cursor: pointer;

  .moon {
    color: #ffffff;
  }
  .sun {
    color: $ui-dark-color;
  }

  svg {
    font-size: 24px;
    transition: all 0.3s ease;

    @media #{$ui-mouse-device} {
      &:hover {
        color: $ui-purple-color;
      }
    }
  }
}
